*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
}
.header{
    width: 100%;
    height: 50px;
    background-color: #51352f;
    position: fixed;
    z-index: 100;
}
.input-c{
     position: relative;
    float: left;
    padding: 11px 30px;
    
    
}
.coffe{
    font-size: 25px;
    color: white;
    padding-right: 39px;
}
.searchicon{
    font-size: 14px;
    color: #51352f;
position: absolute;
top: 21px;
left:80px;


}
.input-c input{
    width: 250px;
    height: 28px;
    border-radius: 15px;
    border: 1px solid transparent;
   
}
.header-links{
    float: right;
    margin-right: 30px;
    
}
.header-links li a{
text-decoration: none;
color: white;
font-size: 17px;
font-weight: bold;
text-transform: capitalize;
position: relative;
}
.header-links li a::after{
    position: absolute;
    content: "";
    bottom: -4px;
    left: 0;
    width: 0;
    height: 2px;
    background-color: white;
    opacity: 0;
    transition: 0.6s;
    
}
.header-links li a:hover::after{
    opacity: 1;
    width: 100%;
    
}
.header-links li{
    padding:  15px 20px;
}
.header-links li{
    display: inline-block;
}
.blog-link li{
    display: block;
}
.blog-link .a-drop{
color: #51352f;
font-size: 14px;
position: relative;

}
.blog-link .a-drop::after{
    position: absolute;
    content: "";
    left: 0;
    bottom:-6px;
    width: 0;
    height: 2px;
    background-color: #86635c;
    opacity: 0;
    transition: 0.6s;
}
.blog-link .a-drop:hover::after{
    opacity: 1;
    width: 100%;
}
.blog-nav{
    display: inline-block;
    position: relative;
}
.blog-link{
    display: none;
    position: absolute;
    left: 0;
    background-color: #fff;
    width: 140px;
    border-radius: 10px;
    margin-top: 10px;
    z-index: 3;
}
.blog-nav:hover .blog-link{
    display: block;
}





.section1-passion{
    width: 100%;
    height: 100vh;
    background-image:url(images/carousel-1.jpg) ;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
}
.overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
}
.title{
    width: 60%;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.title-text{
    color: white;
    font-size: 65px;
    text-transform: uppercase;
}
.title-p{
    color:#c7c6c5;;
    font-size: 17px;
    padding: 15px 0;
    letter-spacing: 3px;

}
.home-btn{
    text-transform: capitalize;
    font-size: 15px;
    width: 115px;
    padding: 10px 0;
    border-radius: 15px;
    border: 1px solid transparent;
    cursor: pointer;
}
.btn-1{
    background-color: white;
    color: black;
    margin-right: 11px;
}
.btn-2{
background-color: #51352f;
color: white;
}
.home-btn:hover{
    opacity: 0.7;
}
.section2-fresh{
    background-color: #fcf8f8;
    width: 100%;
    height: 100vh;
    text-transform: capitalize;
    
  
}
.text-offer, .text-fresh{
    text-align: center;
    padding-top: 50px;
    color: #33211D;
    font-size: 40px;
    text-transform: capitalize;
    font-weight: bold;

}
.line{
    width: 90px;
    height: 3px;
    background-color: #51352f;
    margin: 10px auto;
    
}
.card-bg{
    width: 80%;
    margin: auto;
}
.card-1{
    float: left;

    text-align: center;
   margin-top: 80px;
   margin-left: 65px;
   border: 1px solid  #b18d5a;
   width: 320px;
    height: 220px;
   border-radius: 10px;
   position: relative;
}
.card-1 i{
    color: #b18d5a;
    font-size: 30px;
    padding-top: 20px;
}
.card-h{
    font-size: 25px;
    padding-top: 22px;
     position: relative;
    z-index: 1;
    color:  #3e2723;
}
.card-p{
    padding: 20px 0;
    font-size: 17px;
    font-weight: 400;
    color: #898787;
}
.card-link{
    text-decoration: none;
    color:  #b18d5a;
    
    
}
.card-1::after{
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 0;
    height: 0;
    background-color: #d1ad7c;
    opacity: 0;
    transition: 0.5s;
    cursor: pointer;
    border-radius: 10px;
    z-index: 0;
}
.card-1:hover::after{
opacity: 0.4;
width: 100%;
height: 100%;
}
.card-1:hover .card-h{
    color: white;
}

.container-img{
    background-color: white;
    width: 100%;
    height: 100vh;
   
}

.line-img{
    width: 110px;
}
.hero-img{

    position: relative;
    width: 300px;
    height: 200px;
    float: left;
    margin: 50px 90px;
  

}
.hero-img img{

width: 100%;
height: 100%;

}
.layer{
    
    background-color: rgba(0, 0, 0, 0.4);
    color: white;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    opacity: 0;
    transition: 0.5s;

}
.img-text{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.hero-img:hover .layer{
    opacity: 1;
}
.img-h{
    font-size: 30px;
    text-transform: uppercase;
    padding-bottom: 5px;
    color: #dad9d8;
}
.img-p{
    font-size: 20px;
    padding-bottom: 10px;
    text-transform: capitalize;
}
.iconns i{
    margin-top: 12px;
    background-color: white;
    color: rgb(131, 131, 133);
    font-size: 20px;
    width: 40px;
    height: 30px;
    padding-top: 6px;
    border-radius: 5px;
    
   
}

.offer{
    width: 100%;
    height: 100vh;
    background-color: #fcf8f8;
    clear: both;
}
.offer-h{
    font-size: 35px;
    font-weight: bold;
   
}
.offer-bg{
    width: 80%;
    margin: auto;
}
.offerdiv{
float: left;
width: 25%;
margin: 25px 45px;
position: relative;
}
 .offer-card{
   border: 1px solid #b18d5a;
   width: 300px;
    height: 200px;
   border-radius: 10px;
   padding:25px 15px 30px 50px;
   position: relative;
  
 }
 .offer-card i{
   position: absolute;
   top: 25px;
   left: 10px;
   font-size: 30px;
   color: #b18d5a;
 }
  .details-h{
    font-size: 25px;
    padding-left: 8px;
position: relative;
    z-index: 1;
    color: #3e2723;
    font-weight: 700;
    letter-spacing: 0.5px;
    margin-bottom: 10px;
    
}
  
 .details-p{
    color: #898787;
    font-size: 16px;
    padding-top: 10px;
    padding-left: 8px;
    
 }
 .offer-card::after{
 position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 0;
    height: 0;
    background-color: #d1ad7c;
    opacity: 0;
    transition: 0.5s;
    cursor: pointer;
    border-radius: 10px;
    z-index: 0;
}
.offer-card:hover::after{
opacity: 0.4;
width: 100%;
height: 100%;
}
.offer-card:hover .details-h{
    color: white;

}
.offer-card:hover .details-p{
    color: #000;
}

.story{
    width: 100%;
    height: 100vh;
    background-color: #f7f3ee;
    padding-top: 5%;
}
.story .line-p{
    margin: 10px 0px;
}
.story-left{
    float: left;
    width: 50%;
    padding: 20px 40px;
}

.story-h{
    text-transform: capitalize;
    font-size: 40px;
    color: #33211D;
}
.story-p{
    color: #797979;
    width: 75%;
    padding-top: 40px;
}
.story-ul{
    list-style: none;
    padding-top: 30px;
}
.story-img{
    float: left;
    width: 50%;
}
.story-left li i{
    color: #C19D56;
    font-size: 18px;
}
.story-left li{
    margin-bottom: 20px;
    font-size:18px ;
    color: #33211D;
    text-transform: capitalize;
}
.story-img img{
    width: 450px;
    height: 550px;
}
.ul-img{
    text-align: center;
    list-style: none;
    margin-right:110px
}
.ul-img li{
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #797979;
    display: inline-block;
    margin: 10px;
}
li.active{
    
   background-color:#C19D56;
   
}
.ul-img li:hover{
    background-color: #C19D56;
}
.price{
    width: 100%;
    height: 400px;
 background-image: url(images/image-2TVQNH6.jpg);
 background-repeat: no-repeat; 
 background-position: center; 
 background-size: cover;
 background-attachment: fixed;
 position: relative; 
}
.over-1{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}
.stat-container{
    width: 75%;
    margin: auto;
}
.statdiv{
    padding-top: 145px;
}
.stat-box{
    float: left;

    text-align: center;
    width: 22%;
   
   
}
.stat-box i{
    font-size: 40px;
    color:  #C19D56;
    margin-bottom: 13px;

}
.stat-box  h3{
    font-size: 20px;
    color:#e9e5e0;
}
.stat-box p{
    font-size: 17px;
    color: #e9e5e0;
    font-weight: bold;
}
.pricing{
    width: 100%;
    height: 100vh;
}
.pricing-card{
    width: 80%;
    margin: auto;
    padding: 70px;
}
.h-h{
    text-align: center;
    padding-top: 50px;
    color: #33211D;
    font-size: 40px;
    text-transform: capitalize;
    font-weight: bold;

}
.card-pr{
    float: left;
    border: 1px solid  #b18d5a;
    margin-left: 30px;
    width: 30%;
    height: 370px;
    border-radius: 10px;
    position: relative;
    
    
}
.card-pr p{
    text-align: center;
   font-weight: bold;
    padding: 20px 0;
    text-transform: uppercase;
    
}
.p-table{
    width: 80px;
    height: 80px;
    border: 1px solid  #b18d5a;
    border-radius: 50%;
    text-align: center;
    margin: auto;
    padding-top: 15px;
}
.p-table h3{
    font-size: 21px;

}
.p-table span{
    font-size: 17px;
    font-weight: bold;
        text-transform: uppercase;
}
.pricing-ul{
    text-align: center;
    list-style: none;
   padding: 30px 0;
    text-transform: uppercase;
}
.pricing-ul li{
    font-size: 15px;
    font-weight: bold;
    padding: 10px 0;
    
}
.pricng-button{
    text-align: center;
    margin-top: -10px;
    position: relative;
    z-index: 3;
    
}
.pricng-button button{
padding: 8px 45px;
border-radius: 10px;
text-transform: capitalize;
background-color: #ececec;
border: 1px solid  #b18d5a;
}
 .card-pr::after{
 position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 0;
    background-color:#d1ad7c;
    opacity: 0;
    transition: 0.5s;
    cursor: pointer;
    border-radius: 10px;
    z-index: 0;
}
.card-pr:hover::after{
opacity: 0.4;
width: 100%;
height: 100%;
}
.card-pr:hover p{
     color:  #b18d5a;
     
}
.card-pr:hover .p-table{
     border: 2px solid  #b18d5a;
}
.client{
     width: 100%;
    height: 400px;
 background-image: url(images/image-ACT4KSN.jpg);
 background-repeat: no-repeat; 
 background-position: center; 
 background-size: cover;
 background-attachment: fixed;
 position: relative;
}
.client-img{
    width: 90%;
    height: 100%;
    margin: auto;
}
.cl-img{
    float: left;
    width: 50%;
    height: 100%;
}
.cl-img img{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    float: left;
   
}
.textdiv{
    padding: 130px 40px 10px 100px;
    line-height: 1.5;
}
.cl-p{
    margin: 0px 30px 0px 110px;
    text-transform: capitalize;
    color: #a7a7a7;
    line-height: 1.6;
    word-spacing: 2px;
    font-size: 17px;

}
.div-hp{
    margin: 6px 90px;
}
.div-hp h3{
    font-size: 30px;
    color: #fff;
    
    font-weight: bold;
}
.div-hp p{
    color: #b18d5a;
    font-size: 20px;
    font-weight: bold;
}
.team{
    width: 100%;
    height: 100vh;
}
.conteiner-team{
    width: 80%;
    margin: auto;
    
}
.parent-team{
margin-top: 8%;
}
.team-item{
    float: left;
    width: 30%;
    background-color: #f7f3ee;
    padding: 18px 14px;
    text-align: center;
    border-radius: 10px;
    position: relative;
}
.team-img{
    width: 90%;
    margin: auto;
    position: relative;
}
.team-img img{
    width: 100%;
    display: block;
    

}
.team-2{
    margin: 0 5%;
}
.icon-team{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    
    background-color: rgba(0, 0, 0, 0.6);
    visibility: hidden;
}
.icon-team a{
    display: block;
    width: 40px;
    height: 40px;
    line-height: 40px;
    background-color: #b18d5a;
    color: #f7f3ee;
    margin-left: auto;
}
.team-item:hover .icon-team{
    visibility:visible;
}
.team-info h2{
    text-transform: capitalize;
    color: #51352f;
    padding-top: 5px;
    position: relative;
    z-index: 3;
}
.team-info p{
    color: #b18d5a;
    text-transform: uppercase;
    padding-top: 7px;
    font-weight: 700;
    position: relative;
    z-index: 3;
}
.team-item:hover .team-info h2{
    color: white;
}
.team-item:hover .team-info p{
color:#7f4e45;
}
 .team-item::after{
 position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 0;
    background-color: #d1ad7c;
    opacity: 0;
    transition: 0.5s;
    cursor: pointer;
    border-radius: 10px;
    z-index: 0;
}
.team-item:hover::after{
opacity: 0.4;
width: 100%;
height: 100%;
}
.me-co{
    width: 100%;
    height: 100vh;
}
.parent-co{
    width: 80%;
    margin:  3% auto;
}
.co-iteam{
    float: left;
    width: 30%;
    border: 1px solid #b18d5a;
    border-radius: 10px;
    text-align: center;
    height: 470px;
    position: relative;
}
.co-iteam::after{
 position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 0;
    background-color:#d1ad7c;
    opacity: 0;
    transition: 0.5s;
    cursor: pointer;
    border-radius: 10px;
    z-index: 0;
}
.co-iteam:hover::after{
opacity: 0.4;
width: 100%;
height: 100%;
}

.centeriteam{
    margin: 0 5%;
}
.co-iteam img{
    border-radius: 10px;
    margin-top: 20px;
    position: relative;
    z-index: 3;
}
.co-iteam-icon ul{
    list-style: none;
}
.co-iteam-icon ul li{
    display: inline-block;
    margin-top: 25px;
    margin-right: 15px;
    font-weight: bold;
    text-transform: capitalize;
    
}
.co-iteam-icon li a{
    color: #b18d5a;
}
.co-iteam-icon h3{
    margin: 15px 0;
    color: #382621;
    position: relative;
    z-index: 4;
}
.co-iteam:hover .co-iteam-icon h3{
    color: white;
}
.co-iteam-icon p{
    color:  #898787;
    padding: 8px 0;
}
.co-iteam:hover .co-iteam-icon p, 
.co-iteam:hover .co-link{
    color: #b99664;
}
.co-link{
color: #b18d5a;
text-decoration: none;
display: block;
margin-top: 5px;
}
.footer{
    width: 100%;
    height: 330px;
    background-color: #f7f3ee;
}
.content-footer{
    width: 50%;
    margin: auto;
    text-align: center;
}

.fo-img img{
    width: 250px;
    height: 200px;
    margin-top: 22px;
}
.ul-footer li{
    display: inline-block;
    background-color: #b18d5a;
    color: #f7f3ee;
    padding-top: 11px;
    width: 55px;
    height: 55px;
    border-radius: 50%;
    font-size: 30px;
}
.ul-footer li:hover{
    background-color:#86622c ;
}
.ul-footer p{
    font-size: 14px;
    text-transform: uppercase;
    padding-top: 18px;
    color: #b18d5a;
}